html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

h1{
    font-family: Libre Baskerville, Georgia, "Times New Roman", sans-serif;
}

.Header{
    margin-top: 1rem;
}

.contenedor{
    margin-top: 2rem;
    padding-top: 5rem;
    background-color: lightcyan;
    padding-bottom: 5rem;
}

.centrar{
    margin-right: 1.5rem;
}

.footer{
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #464646;
    color: #fff;
    text-align: center;
}

.button{
    margin-right: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}